#fo
{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); 
  height: 80rem;
}
.header
{
  font-family: 'Roboto', sans-serif;
  color: #090979;
  text-align: center;
  font-weight: 900;

}

.co 
{
  margin-top: 56px;
  width: 45rem !important;
}

.fb
{
  background-color: #E6E6FA;
  padding: 60px;
  border-radius: 29px;
} 
.btnn
{
  font-size: x-large;
}
.btn{
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  border-radius: 20px;
    width: 151px;
}
.form-control
{
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}

.hd{
font-size: x-large;
font-family: 'Poppins', sans-serif;
font-weight: 700;
}
.lg-style{
  font-size: larger;
  color: green;
  font-weight: 600 !important;
}